.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: sans-serif;
}
.inputField {
  width: 100%;
  padding: 5px 10px ;
  border-radius: 8px;
  border: 1px solid #2a2a2a;
  background: #111;
  color: #fff;
  font-size: 14px;
  outline: none;
  transition: all 0.25s ease;
  height: 33px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  &:focus-within {
    border-color: #0070f3;
    box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
  }
}
textarea.inputField {
  min-height: 150px;
  resize: vertical;
}

.label {
  font-size: 13px;
  color: #fff;
  pointer-events: none;
  transition: all 0.2s ease;
}

.error {
  color: #ff4d4f;
  font-size: 12px;
  min-height: 20px;
  margin-top: 4px;
  display: block;
}

.errorInput {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
  animation: shake 0.25s ease;

  &:focus-within {
    border-color: #ff4d4f;
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}